body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    color: #333;
}

.navbar {
    background-color: #4AB0BD;
    padding: 10px;
}

.menu-icon-container {
    cursor: pointer;
    display: inline-block;
    margin-right: 20px;
}

.menu-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    z-index: 1; /* Ensure the hamburger icon appears on top */
    color: white;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -300px; /* Set initial position off-screen */
    height: 100vh;
    width: 150px;
    background-color: #4AB0BD;
    padding: 20px;
    overflow-y: auto;
    transition: left 0.3s ease;
}

.sidebar button {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    border: none;
    background-color: #018f8f;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
}

.sidebar button:hover {
    background-color: #017070;
    color: white;
}

.sidebar-opened .main-content {
    margin-left: 200px; /* Adjust the margin based on your sidebar width */
}

.sidebar .close-btn {
    background-color: #4AB0BD;
    color: #018f8f;
    border: 1px solid #018f8f;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

header {
    margin-left: 0px; /* Adjust margin to accommodate the hamburger icon */
    padding-bottom: 20px;
    background-color: #4AB0BD;
    color: #fff;
    text-align: center;
}

section {
    margin-left: 0px; /* Adjust margin to accommodate the hamburger icon */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    color: #4AB0BD;
}

.profile-container {
    display: flex;
    align-items: center;
}

.star-container {
    position: relative;
    width: 15vw; /* Adjust the size of the star */
    height: 15vw; /* Adjust the size of the star */
    overflow: hidden;
    margin-left: auto; /* Push the star to the right */
    margin-right: auto; /* Push the star to the left */
}

.diamond-shape {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-color: #4DADAD; /* Teal color for the diamond shape */
    z-index: 2; /* Ensure the diamond is above the square */
}

.small-diamond-shape {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%; /* Adjust the size of the inner diamond */
    height: 90%; /* Adjust the size of the inner diamond */
    background-color: #ffffff; /* Color of the inner diamond */
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.square-profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%; /* Adjust the size of the black square */
    height: 65%; /* Adjust the size of the black square */
    background-color: white; /* Black color for the square */
    z-index: 1; /* Ensure the square is below the diamond */
    border: 5px solid teal;
}

.diamond-shape::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #4DADAD; /* Thin border matching the background color */
    box-sizing: content-box; /* Ensure the border is included in the size */
}

.diamond-shape img {
    width: 100%; /* Make the image fill the diamond shape */
    height: auto; /* Maintain the aspect ratio of the image */
    position: absolute;
    top: 0;
    left: 0;
}

.job, .degree {
    margin-bottom: 20px;
}

.job h3, .degree h3 {
    color: #333333;
}

#projects h3 {
    color: #66CCCC; 
}

.project h4 {
    color: black;
    font-size: 17px;
}

.date {
    color: #777;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #4AB0BD;
    color: #fff;
    padding: 8px;
    margin: 5px;
    display: inline-block;
    border-radius: 4px;
}

.language_1 {
  background-color: #4DADAD;
}

.language_2 {
  background-color: #469FA6;
}

.language_3 {
  background-color: #5BB8B8;
}

.project-container {
    display: flex;
    justify-content: space-between; /* Distribute projects evenly */
    margin-top: 1em; /* Add some space between projects */
}

.project-square {
    flex: 0 0 32%; /* Each project takes up 30% of the container width */
    background-color: #ffffff; /* White background for the project square */
    border: 2px solid #4DADAD; /* Teal border for the project square */
    padding: 1em;
    border-radius: 8px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    color: #4DADAD; /* Teal text color for contrast */
}

#projects .project {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

#projects .project:hover {
    background-color: #f9f9f9;
}

.button-container {
      display: flex;
    justify-content: center;
    align-items: center;
}

.toggleProjects {
    background-color: #4DADAD; /* Teal color for the button */
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.university_1 {
  color: goldenrod;
  font-weight: 600;
}

.university_2 {
  color: crimson;
  font-weight: 600;
}

.hackathon {
  color: darkblue;
  font-weight: 600;
}

.birthstone-font {
    font-family: 'Birthstone', cursive;
    font-weight: 300; /* Adjust the font weight as needed */
    font-size: 4em; /* Adjust the font size as needed */
    margin: 0;
}

.subheader {
    font-weight: 700;
    margin-top: 0px;
}

#contact p {
    margin: 5px 0;
}

.contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icons a {
    color: #4DADAD; /* Teal color for the icons */
    font-size: 2em;
    margin-left: 40px;
    margin-right: 12px;
}

.contact-icons a:hover {
    color: #006666; /* Darker teal color on hover */
}

#notice {
  color: red;
  font-weight: 500;
}

@media (max-width: 600px) {
  .contact-icons {
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
  }
  
  .contact-icons a {
    margin-top: 18px;
    margin-left: 0px;
    margin-right: 0px;
  }
}