* {
  box-sizing: border-box;
}

/* Body */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* sticky footer */
  background-color: #2DC8E1;
}

/* Header */
header {
  font-family: 'Simonetta';
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  color: white;
}

.headerName {
  display: flex;
  justify-content: center;
  font-weight: 900;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 30px;
}

.headerMajor {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 25px;
}

.headerTabs {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: inherit;
}

.headerTabs button {
  background-color: inherit;
  border: 2px white solid;
  color: white;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 2px 5px;
  
  font-family: 'Simonetta';
  font-size: 16px;
  font-weight: 900px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

#warning {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

/* Main */
main {
  flex-grow: 1; /* sticky footer */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 18px;
}

.pageWrap {
  background: white;
  border-radius: 15px;
  padding: 50px;
  text-align: center;
}

#profilePic {
  float: left;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.elevatorPitch {
  vertical-align: text-bottom;
}

.aboutMe {
  padding-top: 20px;
}

.hobbyImage {
  margin-top: 25px;
}

.hobbyImageSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#hobby1Pic {
  width: 80%;
}

#hobby2Pic {
  width: 100%;
}

#hobby3Pic {
  width: 85%;
  margin-left: 20px;
}

figcaption {
  margin-top: 10px;
  font-size: 15px;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hobby1PicCaption {
  width: 80%;
}

#hobby2PicCaption {
  width: 100%;
}

#hobby3PicCaption {
  width: 85%;
}

.workShowcase {
  text-align: left;
}

.projectTitle {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 15px;
  text-align: center;
}

.projectSubtitle {
  font-weight: 900;
  margin-bottom: 12px;
}

.projectDescription {
  margin-bottom: 15px;
}

.projectLink {
  color: blue;
  padding: 0px;
  font-size: 18px;
}

em {
  font-style: italic;
}

/* Project 1 page */
#project1Pic {
  width: 100%;
}

/* Project 2 page */
#project2Pic1{
  width: 25%;
  margin-right: 20px;
}

#project2Pic2 {
  width: 50%;
}

.project2Images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 25px;
}

/* Project 3 page */
#project3Pic1 {
  width: 40%;
}

#project3Pic2 {
  width: 55%;
  margin-left: 20px;
}

.project3Images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 25px;
}

/* Footer */
footer {
  flex-grow: 0;  
  display: flex;
  flex-directin: row;
  justify-content: center;
  width: 100%;
}

.contact {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  color: white;
}

.contactIcon {
  width: 10%;
}

/* Small screens */
@media (max-width: 1000px) {
  main {
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .hobbyImageSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #hobby1Pic {
    width: 60%;
  }

  #hobby2Pic {
    width: 60%;
  }

  #hobby3Pic {
    width: 60%;
  }
  
  #hobby1PicCaption {
    width: 60%;
  }

  #hobby2PicCaption {
    width: 60%;
  }

  #hobby3PicCaption {
    width: 60%;
  }
}

@media (max-width: 700px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
  
  .contact {
    padding: 0px;
  }
  
  #emailContact {
    padding-top: 10px;
  }
  
  #linkedInContact {
    padding-bottom: 15px;
  }
}
