body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    color: #333;
}

.navbar {
    background-color: #4AB0BD;
    padding: 10px;
}

.menu-icon-container {
    cursor: pointer;
    display: inline-block;
    margin-right: 20px;
}

.menu-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    z-index: 1; /* Ensure the hamburger icon appears on top */
    color: white;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -300px; /* Set initial position off-screen */
    height: 100vh;
    width: 150px;
    background-color: #4AB0BD;
    padding: 20px;
    overflow-y: auto;
    transition: left 0.3s ease;
}

.sidebar button {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    border: none;
    background-color: #018f8f;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
}

.sidebar button:hover {
    background-color: #017070;
    color: white;
}

.sidebar-opened .main-content {
    margin-left: 200px; /* Adjust the margin based on your sidebar width */
}

.sidebar .close-btn {
    background-color: #4AB0BD;
    color: #018f8f;
    border: 1px solid #018f8f;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

header {
    margin-left: 0px; /* Adjust margin to accommodate the hamburger icon */
    padding-bottom: 20px;
    background-color: #4AB0BD;
    color: #fff;
    text-align: center;
}

section {
    margin-left: 0px; /* Adjust margin to accommodate the hamburger icon */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    color: #4AB0BD;
}

.job, .degree {
    margin-bottom: 20px;
}

.job h3, .degree h3 {
    color: #333;
}

#projects h3 {
    color: #66CCCC; 
}

.project h4 {
    color: black;
    font-size: 17px;
}

.date {
    color: #777;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #4AB0BD;
    color: #fff;
    padding: 8px;
    margin: 5px;
    display: inline-block;
    border-radius: 4px;
}

#projects .project {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#projects .project:hover {
    background-color: #f9f9f9;
}

.birthstone-font {
    font-family: 'Birthstone', cursive;
    font-weight: 300; /* Adjust the font weight as needed */
    font-size: 4em; /* Adjust the font size as needed */
    margin: 0;
}

.subheader {
    font-weight: 500;
    margin-top: 0px;
}

#contact p {
    margin: 5px 0;
}

.contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icons a {
    color: #4DADAD; /* Teal color for the icons */
    font-size: 2em;
    margin-left: 40px;
    margin-right: 12px;
}

.contact-icons a:hover {
    color: #006666; /* Darker teal color on hover */
}

@media (max-width: 600px) {
  .contact-icons {
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
  }
  
  .contact-icons a {
    margin-top: 18px;
    margin-left: 0px;
    margin-right: 0px;
  }
}